<!DOCTYPE html>
<html>
<head>
    <script src="{{ url_for('static', path='/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/style.css') }}">
    <title>FastAPI</title>
</head>

<body>



        <div class="row">
            <div class="col-md-6">
                <h1>Test Page</h1>

            </div>

        </div>

</body>

</html>
